<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<h1>{{lat}},{{lng}}</h1>
<button onclick="initMap()">load mpa</button>
<input type="hidden" id="latt" value="{{lat}}">
<input type="hidden" id="longg" value="{{lng}}">
<div id="map" style="width:100%; height:100%"></div>
<!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
<script>
    var latitude = document.getElementById('latt');
    var longitude = document.getElementById('longg');
    function initMap() {
        //map options
        var options = {
            zoom: 13,
            center: { lat: 9.095831, lng: 76.528351 }
        }
        var map = new google.maps.Map(document.getElementById('map'), options);

        addMarker({ lat: 9.095831, lng: 76.528351 });

        // Add marker function
        function addMarker(coords) {
            var marker = new google.maps.Marker({
                position: coords,
                map: map,
                icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                label: {
                    fontSize: "12pt",
                    text: "Hello World!"
                },
            });

            /*//check content
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                });

                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                })
            }*/
        }
    }

    //window.initMap = initMap;
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdtdyVvbeW_tMjWgr4kuasRkNwgClAfco&callback=initMap"
    defer></script>