<div class="container">
    <div class="row">
        
        <!-- BILLING ADDRESS -->
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Complaint Form</h4>
            <form class="needs-validation was-validated" method="post" id="checkout-form" >
                <div class="mb-3">
                    <label for="complaint">Complaint</label>
                    <input type="text" class="form-control" name="complaint" placeholder="System did not turn on" maxlength="54" required="true">
                </div>
                <div class="mb-3">
                    <label for="complaint">Issue Brief</label>
                    <textarea name="issue_brief" class="form-control" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="address">Phone</label>
                    <input type="number" class="form-control" name="mobile" placeholder="+919876543210" required>
                    <div class="invalid-feedback"> Please enter your phone number. </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                </div>
                <div class="mb-3">
                    <label for="landmark">Landmark</label>
                    <input type="text" class="form-control" name="landmark" placeholder="Near shopping mall" required>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="form-select d-block w-100" name="country" required>
                            <option value="India">India</option>
                            
                        </select>
                        <div class="invalid-feedback"> Please select a valid country. </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="form-select d-block w-100" name="state" required>
                            <option value="">Choose...</option>
                            <option>Kerala</option>
                            <option>Tamil Nadu</option>
                        </select>
                        <div class="invalid-feedback"> Please provide a valid state. </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" name="pin" placeholder="" required>
                        <div class="invalid-feedback"> Pin code required. </div>
                    </div>
                </div>
                
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block"  type="submit">Raise the complaint</button>
            </form>
        </div>
    </div>
</div>
<script>
