<section>
    <div class="container p-2">
        <button type="button" onclick="checkin()" class="btn btn-success" >checkin</button>
        <div class="float-right"><button type="button" onclick="checkout()" class="btn btn-danger text-left" >checkout</button></div>
        <p id="currentloc"></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SI.No</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check Out</th>
                    <th scope="col">Work Assign</th>
                </tr>
            </thead>
            <tbody>
                {{#each works}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.complaint_topic}}</td>
                    <td>{{this.complaint_brief}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><button type="button" class="btn btn-warning">Assign to</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    var time = new Date().getHours()+":"+new Date().getMinutes();
    var date = new Date().getDate()+"/"+new Date().getMonth()+"/"+new Date().getFullYear();
    var loc = document.getElementById("currentloc");
    var gpsloc = null;
    function checkin() {
        if (navigator.geolocation) {
           gpsloc = navigator.geolocation.getCurrentPosition(passPosition)
           
        }

    }
    function passPosition(position) {
        $.ajax({
            url:'/staff/checkin',
            data:{
                date:date,
                time:time,
                latitude:position.coords.latitude,
                longitude:position.coords.longitude
            },
            method:"POST",
            success:((response)=>{
               
            })
        })
            loc.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
    }

    function checkout() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(chekoutPos)
        }
    }
    function chekoutPos(position) {
        $.ajax({
            url:'/staff/checkout',
            data:{
                date:date,
                time:time,
                latitude:position.coords.latitude,
                longitude:position.coords.longitude
            },
            method:"POST",
            success:((response)=>{
                console.log(response)
            })
        })
    }

    
</script>